@import "../variables.scss";

.root {
  height: 95vh;
  background-image: url("./images/header-img.svg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 550px;
  animation: color-transition 90s infinite;
  //animation-delay: 2s;




.vertical {
  color: white;
  position: absolute;
  bottom: 90px;
  left: -40px;
  transform: rotate(90deg);
  font-size: 16px;
  background-image: url('../templates/images/arrow_right.png');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 35px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.05em;

}
};

@keyframes color-transition {
  0% {background-color: #63668A;
    background-position: -600px;

  }

  80% { background-color: #CF8B6D;

      }

  90% { background-color: #CB9CA7;

    }

  100% { background-color: #63668A;
    background-position: 600px;

    }
  };



  .textLeft{
    position: relative;
    top: 10%;
    left: 12%;
    max-width:480px;
    //background-color: #CB9CA7;

    padding: 30px;
    text-align: left;
    color: white;
    text-shadow: 0 0 60px rgba(0, 0, 0, .2);

    @media #{$mobile} {
      margin-right: 30px;
      top: 5%;
      }
      @media #{$wide} {
        max-width: 550px;
        }
}

  p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
  }


  h2 {
    font-family: 'Ahamono';
    font-size: 2.6rem;
    color: white;
    font-weight: normal;

    @media #{$mobile} {
      font-size: 2.2rem;
      }
    @media #{$wide} {
      font-size: 3.1rem;
        }
  }





/*  .shaka {
  margin-top: 18px;
} */
