@import './variables.scss';

/* -----
OVERALL LAYOUT:
------ */

.about-wrapper {
    background-color: $light-beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $primary-lighten-75;
   
}

/* -----
IMAGE & TEXT:
display big image for wide devices
------ */

.two-column-layout {
    max-width: 960px;
    display: flex;
    justify-content: space between;
    align-items: center;
    margin: 8px 0px 0px 0px;
    padding: 120px 0px 120px 0px;

    & > .image-wrapper {
        margin-right: 56px;

       & > #photo-l {
           max-width: 360px;
       } 
    }

    #photo-s {
    display: none;
    } 

    &  a {
        border-bottom: 1px solid currentColor;
        text-decoration: none;
    }
    a:hover {
        color: $primary-color;
        opacity: 0.65;

    }
     }

.two-column-layout-2 {
    max-width: 1410px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

    /* -----
INFOS IN VARIOUS COLUMS:
------ */

.about-info-wrapper {
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
    max-width: 1080px;

        & > div {
            margin-right: 10vw;
        }  
        & > ul, li {
            display: block;
            padding-block-end: 8px;
            font-size: 14px;
        }    
}


/* -----
TABLET SIZE:
------ */

@media #{$screen-small} { 
    .two-column-layout {
        margin: 90px 16px 90px 16px;
    
        & > .image-wrapper {
            position: relative;
            margin-right: 32px;
    
           & > #photo-l {
               width: 100%;
           } 
           & > #photo-s {
            display: none;
            } 
        }

        & > .text-wrapper {
             width: 60vw;
        }
    }
    .two-column-layout-2 {
        margin: 0px 16px 0px 16px;
    }
}


   

/* -----
MOBIL SIZE:
------ */

@media #{$screen-xsmall} {
    .two-column-layout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0px 16px 70px 16px;
        padding: 0;
        
       
        & > .image-wrapper {
            display: none;
        }
        
        #photo-s {
            display: block;
            width: 100%;
            margin-bottom: 32px;
            } 

            & > .text-wrapper {
                width: 100%;
            }
    }
}
