@import './variables.scss';

@font-face {
    font-family: 'Apercu';
    src: url('../assets/fonts/ApercuRegular.ttf');
  }

  @font-face {
    font-family: 'Apercu Mono';
    src: url('../assets/fonts/ApercuMono.ttf');
  }

  @font-face {
    font-family: 'Apercu Italic';
    src: url('../assets/fonts/ApercuItalic.ttf');
  }


body {
    color: $primary-color;
    font: 100% $font-stack;
}


h1 {
    font-size: 58px;
    line-height: 1.25;
    font-weight: 400;
}

@media #{$screen-small} {
    h1 {
      font-size: 46px;
    }
  }

  @media #{$screen-xsmall} {
    h1 {
      font-size: 32px;
    }
  }


a {
    text-decoration: none;
    color: $primary-color;


}

p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    margin-block-start: 0em;
    margin-block-end: 0em;
    opacity: 0.4;
}