@import './fonts.scss';
@import './work.scss';
@import './nav.scss';
@import './variables.scss';
@import './footer.scss';
@import'./about.scss';
@import'./frontpage.scss';


/* -----
OVERALL DEFINITIONS:
------ */

html, body, ul, ol {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $snow;
}

ul, li {
  display: inline;
  list-style: none;
  padding-left: 0;
}

a:hover, a:active {
  text-decoration: underline;
}

//used for frontpage headlines, e.g. "services"
.small-headline {
  font-size: 13px;
  letter-spacing: 0.2rem;
  margin-bottom: 24px;
}

