@import './fonts.scss';
@import './work.scss';
@import './nav.scss';
@import './variables.scss';


/* -----

OVERALL DEFINITIONS:

------ */

html, body, ul, ol {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


ul, li {
  display: inline;
  list-style: none;
  padding-left: 25px;

}


/* -----

FRONTPAGE DEFINITIONS:

------ */

.lpheader {
  position: relative;
  height: 100vh;
  margin-bottom: 50px;
  width: 100vw;

  background-color: $beige;
  outline: 25px solid white;
  outline-offset: -25px;

  .headercontent {
    position: absolute;
    margin-top: 15%;
    margin-left: 112px;
    margin-right: 5%;
    max-width: 780px;
  }

  @media #{$screen-small} {
     .headercontent {
      position: absolute;
      margin-top: 30%;
      margin-left: 50px;
      margin-right: 5%;
      max-width: 780px;

  }
}
@media #{$screen-small} {
  .headercontent {
   position: absolute;
   margin-top: 30%;
   margin-left: 50px;
   margin-right: 10%;
 

}
}
}

/* -----
AREA WITH CARDS:
------ */

.content {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 900px;


  & .card {
  position: relative;
  max-width: 380px;
  max-height: 503px;
  margin: 20px;
  margin-bottom: 90px;

  & > img {
    max-width: 380px;
  }
  & > p {
    font-size: 14px;
    bottom: -20px;
    position: absolute;
  }
}
}

@media #{$screen-xsmall} {
  .content {
    width: 85%;

    & .card {
      margin-bottom: 70px;
  
}
  img {
    width: 100%;
  }


}
}





/* -----
STARTPAGE NAVIGATION:
------ */

.nav-frontpage {
  position: absolute;
  margin: 88px 0px 0px 114px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-right: 112px;
  height: 50px;
  opacity: 0.4;
}

@media #{$screen-small} {
  .nav-frontpage {
    position: absolute;
    margin: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77vw;
    opacity: 0.4;
    //background-color: red;
}
}


/* -----
FOOTER:
------ */
footer {
  background-color: $beige;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 42px;
  font-size: 14px;
  
  & a {
    opacity: 0.4;
  }
}
