nav{
    margin: 70px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0.4;

    & ul {
        padding-left: 25px;
      }

 
}

.logo {
    font-size: 24px;
    font-weight: 400;
}


    

    
/* -----
MOBIL SIZE:
------ */

@media #{$screen-small} {
    nav {
        padding: 45px 0 20px 0;
        max-width: 85vw;
        margin: 0 auto;


    }
        .logo {
            font-size: 16px;
            font-weight: 600;
          }
    
        a {
            text-decoration: none;
        }
    }
    
 