$font-stack: "Apercu", Arial, Helvetica, sans-serif;


/* -----
COLORES:
------ */

$primary-color: rgb(37, 33, 35);
$primary-lighten-40: rgba(37, 33, 35, 0.4);
$beige: #f5f3f4;
$snow: #FDFDFD;


/* -----
SPACES:
------ */
$s-space: 32px;


/* -----
SCREEN SIZES:
------ */
$screen-xsmall: "(max-width:600px)";
$screen-small: "(max-width: 850px)";
$screen-wide: "(min-width: 1120px)";
