$font-stack: "Apercu", Arial, Helvetica, sans-serif;


/* -----

COLORES:

------ */


$primary-color: #252123;
$beige: #f5f3f4;


/* -----

SCREEN SIZES:

------ */
$screen-xsmall: "(max-width:450px)";
$screen-small: "(max-width: 810px)";
$screen-wide: "(min-width: 1120px)";
