/*  -----

LAYOUT FOR PROJECTS PAGES:

------ */


.work-layout {
    & main {
      max-width: 810px;
      margin: 0 auto;
      
    }

    @media #{$screen-small} {
        & main {
            margin-bottom: 50px;
            //background-color: rgb(108, 108, 190);
            max-width: 85vw;
    
    
            & .mdxcomponent {
                max-width: 520px;
            }
    }
}

/* -----
  CENTERED HEADER IMAGE:
------ */

    & .hero {
        width: 86vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -43vw;
        margin-right: -43vw;
        // outline: 25px solid white;
        //outline-offset: -25px;
        margin-bottom: 50px;
    } 

    @media #{$screen-small} {
        & .hero {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            // outline: 25px solid white;
            //outline-offset: -25px;
            margin-bottom: 25px;
        } 
    }


/* -----
TEXT AREA WITH SIDEBAR:
(2-column-layout)
------ */

    .two-column-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;


        & .mdxcomponent {
            max-width: 520px;
        }

        & .sidebar {
            font-size: 12px;
            line-height: 1.5;

            & > div > span {
                font-weight: bold;
            }

        }
    }

    @media #{$screen-small} {
        .two-column-text {
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            margin-bottom: 50px;


            & .sidebar {
                margin-bottom: 25px;
    
            }
            & .mdxcomponent {
                max-width: 520px;
            }
    }
}

/* -----
PHOTO GALLERY:
------ */

    .gallery {

      & img {
        max-width: 100%;
      }
    }
  }


  /*  -----

MORE PROJECTS GALLERY
(3-column-layout)

------ */

.more-projects {
    height: 600px;
    margin-top: 95px;
    background-color: $beige;
    width:100%;
   

    & > h3 {
        text-align: center;
        padding: 76px 0 64px 0;
        font-weight: 400;
        margin: 0;
        font-size: 21px;
    }
    .image-item-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 1080px;
        height: 400px;
        margin: 0 auto;
        padding-right: 32px;
        padding-left: 32px;
    }

    .image-item {
    width: 224px;
    height: 320px;

    & img {
        max-width: 224px;
        height: auto;
    }
    & p {
        font-size: 14px;
        padding-top: 4px;
    }
 
    }
}
@media #{$screen-small} {
    .more-projects {
        height: 70vh;
        margin-top: 95px;
        background-color: $beige;
        width:100%;

    .image-item-wrapper {
        height: 200px;
       //background-color: rosybrown;

    }

    .image-item {
        width: 92px;
        height: 125px;
     
        }
}

}