/* /* -----

LAYOUT FOR PROJECTS PAGES:

------ */


.work-layout {
    & main {
      max-width: 810px;
      margin: 0 auto;
      
    }

    @media #{$screen-small} {
        & main {
  
            margin-bottom: 50px;
            //background-color: rgb(108, 108, 190);
            max-width: 85vw;
    
    
            & .mdxcomponent {
                max-width: 520px;
            }
    }
}

/* -----
  CENTERED HEADER IMAGE:
------ */

    & .hero {
        width: 86vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -43vw;
        margin-right: -43vw;
        // outline: 25px solid white;
        //outline-offset: -25px;
        margin-bottom: 50px;
    } 

    @media #{$screen-small} {
        & .hero {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
            // outline: 25px solid white;
            //outline-offset: -25px;
            margin-bottom: 25px;
        } 

    }


/* -----
TEXT AREA WITH SIDEBAR:
------ */

    .two-column-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;


        & .mdxcomponent {
            max-width: 520px;
        }

        & .sidebar {
            font-size: 12px;
            line-height: 1.5;
            color: #252123;
            opacity: 0.4;

            & > div > span {
                font-weight: bold;
            }

        }
    }

    @media #{$screen-small} {
        .two-column-text {
            display: flex;
            flex-direction: column;
            //justify-content: space-between;
            margin-bottom: 50px;


            & .sidebar {
                margin-bottom: 25px;
    
            }
            & .mdxcomponent {
                max-width: 520px;
            }
    }
}

/* -----
PHOTO GALLERY:
------ */

    & .gallery {

      & img {
        max-width: 100%;
      }
    }
  }

